In [13]:
from tensorflow import keras as k
from tensorflow.keras.layers import Dense, Input, Flatten
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
(x, y), _ = k.datasets.mnist.load_data()
y_train=pd.get_dummies(y)
print(x.shape, y.shape)

(60000, 28, 28) (60000,)

In [ ]:
X = Input(shape=[28, 28])
H = Flatten()(X)
H = Dense(28, activation="swish")(H)
Y = Dense(10, activation="softmax")(H)
model = k.models.Model(X, Y)
model.compile(loss="categorical_crossentropy", metrics="accuracy")

In [ ]:
model.fit(x, y_train, epochs=5)

In [42]:
pred = model.predict(x[0:5])
pd.DataFrame(pred).round(2)

1/1 [==============================] - 0s 15ms/step

     0    1    2    3    4    5    6    7    8     9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.00
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.00
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.00
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.00
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.99

In [45]:
y_train[0:5]

       0      1      2      3      4      5      6      7      8      9
0  False  False  False  False  False   True  False  False  False  False
1   True  False  False  False  False  False  False  False  False  False
2  False  False  False  False   True  False  False  False  False  False
3  False   True  False  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False  False  False   True